# macOS
.DS_Store

./

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# PyCharm / IntelliJ
.idea/

# Logs
*.log

# Xcode / iOS
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.ipa
*.dSYM
**/Pods/
